<h2><%= @legislator_1.name %> as compared to <%= @legislator_2.name %></h2>

Common Votes: <%= @comparison.common_votes %>, <%= @comparison.agree_percent %>% of the time<br/>
Disagreed Votes: <%= @comparison.common_votes %>, <%= @comparison.disagree_percent %>% of the time
